{%- if section.blocks.size > 0 -%}
  <style>
    #shopify-section-{{ section.id }} {
      --product-list-items-per-row: {{ section.settings.products_per_row_mobile | times: 1 }};
      --product-list-horizontal-spacing-factor: {{ section.settings.horizontal_spacing_factor }};
      --product-list-vertical-spacing-factor: {{ section.settings.vertical_spacing_factor }};
    }

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --product-list-items-per-row: {{ section.settings.products_per_row_desktop }};
      }
    }
  </style>

  <div class="{% unless section.settings.remove_upper_vertical_spacing %}upper-section-spacing{% endunless %} {% unless section.settings.remove_lower_vertical_spacing %}lower-section-spacing{% endunless %}  {% if section.settings.separate_section_with_border %}bordered-section{% endif %}"   {% if section.blocks.first.settings.collection.url == '/collections/cotton-trousers' %}data-collection="EVERYDAY COTTON PANTS"{% endif %}>
    <div class="container">
      {%- assign wrapper_carousel_id = 'featured-collections-carousel-' | append: section.id -%}

      <div class="section-stack">
        <div class="v-stack justify-self-center gap-4 text-center sm:gap-5">
          {%- comment %} 
          {%- if section.settings.subheading != blank -%}
            <p class="h6 text-center">{{- section.settings.subheading -}}</p>
          {%- endif -%} 
          {% endcomment %}

          {%- if section.blocks.size > 1 -%}
            <carousel-navigation align-selected class="featured-collections-navigation scroll-area bleed" aria-controls="{{ wrapper_carousel_id }}">
              {%- for block in section.blocks -%}
                {{ block.settings.collection.title }}
                <button class="h2" aria-current="{% if forloop.first %}true{% else %}false{% endif %}">
                  {{- block.settings.title | default: block.settings.collection.title | default: 'Collection' -}}
                </button>    
              {%- endfor -%}
            </carousel-navigation>
          {%- else -%}
            <p class="h2">{{ section.blocks.first.settings.title | default: section.blocks.first.settings.collection.title | default: 'Collection' }}</p>
            {%- if section.blocks.first.settings.collection.description != blank -%}
              <p class="carousel_collection_description text-center">{{- section.blocks.first.settings.collection.description -}}</p>
            {%- endif -%}
          {%- endif -%}
        </div>
        <style>
          .carousel_collection_description {
            font-size: 11px;
            text-transform: inherit;
          }
          @media screen and (min-width:999px) {
            .carousel_collection_description {
              font-size: inherit;
            }
          }
        </style>
     
        <featured-collections-carousel id="{{ wrapper_carousel_id }}" class="featured-collections-carousel">
          {%- for block in section.blocks -%}
            <div class="featured-collections-carousel__item {% if forloop.first %}is-selected{% endif %}" {{ block.shopify_attributes }}>
              {%- capture product_list -%}
                {%- assign should_reveal = false -%}

                {%- if settings.stagger_products_apparition and forloop.first -%}
                  {%- assign should_reveal = true -%}
                {%- endif -%}

                {%- for product in block.settings.collection.products limit: block.settings.products_count -%}
                  {%- render 'product-card-loyalty-customer', product: product, reveal: should_reveal, hide_product_information: section.settings.hide_product_information, block: block -%}
                {%- else -%}
                  {%- for i in (1..block.settings.products_count) -%}
                    {%- render 'product-card-placeholder', reveal: should_reveal, loop_index: forloop.index0, hide_product_information: section.settings.hide_product_information -%}
                  {%- endfor -%}
                {%- endfor -%}
              {%- endcapture -%}

              {%- if section.settings.stack_products -%}
                <product-list class="product-list {% if section.settings.hide_product_information %}product-list--compact{% endif %} justify-center">
                  {{- product_list -}}
                </product-list>
              {%- else -%}
                {%- assign product_carousel_id = 'featured-collections-product-list-carousel-' | append: block.id -%}

                <product-list class="floating-controls-container floating-controls-container--inside floating-controls-container--on-hover">
                  <scroll-carousel id="{{ product_carousel_id }}" group-cells allow-drag class="product-list {% if section.settings.hide_product_information %}product-list--compact{% endif %} product-list--carousel scroll-area bleed md:unbleed">
                    {{- product_list -}}
                  </scroll-carousel>

                  <button is="carousel-prev-button" type="button" class="prev-next-button prev-next-button--prev circle-button hover:animate-icon-inline" aria-controls="{{ product_carousel_id }}" disabled>
                    <span class="sr-only">{{ 'Previous' }}</span>
                    {%- render 'icon' with 'arrow-left', direction_aware: true -%}
                  </button>

                  <button is="carousel-next-button" type="button" class="prev-next-button prev-next-button--next circle-button hover:animate-icon-inline" aria-controls="{{ product_carousel_id }}">
                    <span class="sr-only">{{ 'Next' }}</span>
                    {%- render 'icon' with 'arrow-right', direction_aware: true -%}
                  </button>
                </product-list>
              {%- endif -%}

              {%- if block.settings.link_text != blank -%}
                {%- assign button_link = block.settings.link_url | default: block.settings.collection.url | default: '#' -%}

                <div class="justify-self-center">
                  {%- render 'button', href: button_link, content: block.settings.link_text -%}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </featured-collections-carousel>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Featured Collection 2",
  "class": "shopify-section--featured-collection-2",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "max_blocks": 5,
  "settings": [
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "Separate Section with Border",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "hide_product_information",
      "label": "Hide Product Information",
      "info": "Hide additional product details"
    },
    {
      "type": "header",
      "content": "Product List Category"
    },
    {
      "type": "checkbox",
      "id": "stack_products",
      "label": "Stack Products",
      "default": false
    },
    {
      "type": "select",
      "id": "products_per_row_mobile",
      "label": "Products per Row (Mobile)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 2,
      "max": 6,
      "label": "Products per Row (Desktop)",
      "info": "Set the number of products to show in each row on desktop devices",
      "default": 4
    },
    {
      "type": "header",
      "content": "Spacing Category",
      "info": "Adjust the spacing between products"
    },
    {
      "type": "range",
      "min": 0.2,
      "max": 2,
      "step": 0.1,
      "id": "horizontal_spacing_factor",
      "label": "Horizontal Spacing Factor",
      "default": 1
    },
    {
      "type": "range",
      "min": 0.2,
      "max": 2,
      "step": 0.1,
      "id": "vertical_spacing_factor",
      "label": "Vertical Spacing Factor",
      "default": 1
    },
    {
      "type": "header",
      "content": "Header Category"
    },
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "Subheading",
      "default": "Featured collection"
    },
    {
      "type": "checkbox",
      "id": "remove_upper_vertical_spacing",
      "label": "Remove Upper Vertical Spacing",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_lower_vertical_spacing",
      "label": "Remove Lower Vertical Spacing",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection Block",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        },
        {
          "type": "range",
          "id": "products_count",
          "min": 2,
          "max": 50,
          "label": "Number of Products to Show",
          "default": 8
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Block Title",
          "info": "Enter a title for the collection block (optional)"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL",
          "info": "URL used if the block title is linked"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "View all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection 2",
      "blocks": [
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
