{%- if section.settings.image != blank or section.blocks.size > 0 -%}
  {%- comment -%}
    ------------------------------------------------------------------------------------------------------------------------
    CSS
    ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  <style>
        #shopify-section-{{ section.id }} {
          --image-with-text-content-max-width: {% if section.settings.content_width == 'sm' %}430px{% elsif section.settings.content_width == 'md' %}780px{% else %}100%{% endif %};
        }
        #shopify-section-{{ section.id}}{
          background:{{ section.settings.section_color}};
        }
        image-with-text picture {
         overflow: hidden;
          transition: border-radius .3s ease-in-out;
    }
        image-with-text picture img{
        transition: scale .3s ease-in-out;
        }
    image-with-text picture img:hover{
      scale:1.03;
    }
         image-with-text picture:hover{
           border-radius:10px;
        }
  </style>

  {%- comment -%}
    ------------------------------------------------------------------------------------------------------------------------
    LIQUID
    ------------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div class="{% unless section.settings.remove_upper_vertical_spacing %}upper-section-spacing{% endunless %} {% unless section.settings.remove_lower_vertical_spacing %}lower-section-spacing{% endunless %} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
    <div class="{% unless section.settings.page_width == 'full' %}container container--{{ section.settings.page_width }}{% endunless %}">
      <image-with-text class="image-with-text {% if section.settings.image_position == 'end' %}image-with-text--reverse{% endif %}">
        {%- if section.settings.image != blank -%}
          <picture>
            {%- assign sizes = '(max-width: 699px) 100vw, 50vw' -%}

            {%- if section.settings.mobile_image != blank -%}
              <source
                media="(max-width: 699px)"
                srcset="{{ section.settings.mobile_image | image_url: width: '400x' }} 400w, {{ section.settings.mobile_image | image_url: width: '600x' }} 600w, {{ section.settings.mobile_image | image_url: width: '800x' }} 800w, {{ section.settings.mobile_image | image_url: width: '1000x' }} 1000w"
                width="{{ section.settings.mobile_image.width }}"
                height="{{ section.settings.mobile_image.height }}"
              >
            {%- endif -%}

            {{-
              section.settings.image
              | image_url: width: section.settings.image.width
              | image_tag:
                loading: 'lazy',
                sizes: sizes,
                widths: '200,300,400,500,600,700,800,900,1000,1200,1400,1600,1800,2000,2200,2400,2600,2800,3000,3200',
                reveal-on-scroll: section.settings.reveal_on_scroll
            -}}
          </picture>
        {%- else -%}
          {{- 'lifestyle-1' | placeholder_svg_tag: 'placeholder' -}}
        {%- endif -%}

        <div class="prose text-{{ section.settings.text_position }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'subheading' -%}
                {%- if block.settings.text != blank -%}
                  <h3 class="h6" {{ block.shopify_attributes }}>{{ block.settings.text }}</h3>
                {%- endif -%}

              {%- when 'heading' -%}
                {%- if block.settings.text != blank -%}
                  <h2 class="{{ block.settings.heading_tag }}" {{ block.shopify_attributes }}>
                    {{ block.settings.text }}
                  </h2>
                {%- endif -%}

              {%- when 'richtext' -%}
                {%- if block.settings.content != blank -%}
                  <div {{ block.shopify_attributes }}>
                    {{- block.settings.content -}}
                  </div>
                {%- endif -%}

              {%- when 'page' -%}
                {%- if block.settings.page.content != blank -%}
                  <div {{ block.shopify_attributes }}>
                    {{- block.settings.page.content -}}
                  </div>
                {%- endif -%}
              {%- when 'icon' -%}
                {%- if block.settings.icon_arrow != blank -%}
                  <div {{ block.shopify_attributes }} class="h-stack justify-{{ section.settings.text_position }}">
                    {{- block.settings.icon_arrow -}}
                  </div>
                {%- endif -%}
              {% when 'button-with-arrow-icon' %}
                <div class="button-group justify-{{ section.settings.text_position }}">
                  {% if block.settings.url != blank %}
                    <a href="{{ block.settings.url }}" type="button" class="button button--{{ block.settings.style }}">
                      {{- block.settings.text -}}
                      {{- block.settings.icon -}}
                    </a>
                  {% else %}
                    <button type="button" class="button button--{{ block.settings.style }}">
                      {{ block.settings.text -}}
                      {{- block.settings.icon }}
                    </button>
                  {% endif %}
                </div>
              {%- when 'liquid' -%}
                {%- if block.settings.liquid != blank -%}
                  <div {{ block.shopify_attributes }}>
                    {{- block.settings.liquid -}}
                  </div>
                {%- endif -%}

              {%- when 'link' -%}
                <a
                  {% if block.settings.url %}
                    href="{{ block.settings.url }}"
                  {% endif %}
                  class="link"
                  {{ block.shopify_attributes }}
                >
                  {{- block.settings.text | escape -}}
                </a>

              {%- when 'button' -%}
                {%- if block.settings.text != blank -%}
                  {% render 'button',
                    content: block.settings.text,
                    href: block.settings.url,
                    style: block.settings.style,
                    background: block.settings.background,
                    text_color: block.settings.text_color,
                    block: block
                  %}
                {%- endif -%}
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </image-with-text>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.image_with_text.name",
  "class": "shopify-section--image-with-text",
  "tag": "section",
  "max_blocks": 6,
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    },
     {
         "type": "color",
      "id":"section_color",
      "label":"Section Background color"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:global.image.image",
      "info": "t:sections.image_with_text.image_size_recommendation"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:global.image.mobile_image",
      "info": "t:sections.image_with_text.mobile_image_size_recommendation"
    },
    {
      "type": "checkbox",
      "id": "reveal_on_scroll",
      "label": "t:global.animation.reveal_image_on_scroll",
      "default": true
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.image_with_text.image_position",
      "options": [
        {
          "value": "start",
          "label": "t:global.position.left"
        },
        {
          "value": "end",
          "label": "t:global.position.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "t:global.position.content_position",
      "options": [
        {
          "value": "start",
          "label": "t:global.position.left"
        },
        {
          "value": "center",
          "label": "t:global.position.center"
        },
        {
          "value": "end",
          "label": "t:global.position.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:global.sizes.content_width",
      "options": [
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        }
      ],
      "default": "sm"
    },
        {
      "type": "select",
      "id": "page_width",
      "label": "Section width",
      "options": [
        {
          "value": "xs",
          "label": "t:global.sizes.x_small"
        },
        {
          "value": "sm",
          "label": "t:global.sizes.small"
        },
        {
          "value": "md",
          "label": "t:global.sizes.medium"
        },
        {
          "value": "lg",
          "label": "t:global.sizes.large"
        },
        {
          "value": "xl",
          "label": "t:global.sizes.x_large"
        },
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "full",
          "label": "t:global.image.width_options.full_width"
        }
      ],
      "default": "sm"
    },
    {
      "type": "checkbox",
      "id": "remove_upper_vertical_spacing",
      "label": "Remove upper verticle spacing",
      "default": false
    },
      {
      "type": "checkbox",
      "id": "remove_lower_vertical_spacing",
      "label": "Remove lower verticle spacing",
      "default": false
    }
  ],
  "blocks": [
        {
     "type": "icon",
      "name":"Arrow icon",
      "settings": [
        {
          "type":"textarea",
          "id":"icon_arrow",
          "label":"Enter SVG",
        }
      ]
    },
    {
      "type": "subheading",
      "name": "t:sections.image_with_text.blocks.subheading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Subheading"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image_with_text.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "t:global.text.style",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "default": "h1"
        }
      ]
    },
    {
      "type": "richtext",
      "name": "t:sections.image_with_text.blocks.paragraph.name",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "t:global.text.content",
          "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        }
      ]
    },
    {
      "type": "page",
      "name": "t:sections.image_with_text.blocks.page.name",
      "settings": [
        {
          "type": "page",
          "id": "page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:sections.image_with_text.blocks.liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:global.code.liquid",
          "default": "<p>Write custom Liquid code to include widget or dynamic code.</p>"
        }
      ]
    },
    {
      "type": "link",
      "name": "t:sections.image_with_text.blocks.link.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:global.text.link"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image_with_text.blocks.button.name",
      "settings": [
        {
          "type": "select",
          "id": "style",
          "label": "t:global.text.style",
          "options": [
            {
              "value": "outline",
              "label": "t:global.text.button_style_options.outline"
            },
            {
              "value": "solid",
              "label": "t:global.text.button_style_options.solid"
            }
          ],
          "default": "solid"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:global.text.link"
        },
        {
          "type": "color",
          "id": "background",
          "label": "t:global.colors.background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:global.text.text"
        }
      ]
    },
     {
      "type": "button-with-arrow-icon",
      "name": "Button with Arrow",
      "settings": [
        {
          "type": "select",
          "id": "style",
          "label": "t:global.text.style",
          "options": [
            {
              "value": "outline",
              "label": "t:global.text.button_style_options.outline"
            },
            {
              "value": "solid",
              "label": "t:global.text.button_style_options.solid"
            }
          ],
          "default": "solid"
        },
        {
          "type": "textarea",
          "id":"icon",
          "label": "Icon SVG"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:global.text.text",
          "default": "Button text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "t:global.text.link"
        },
        {
          "type": "color",
          "id": "background",
          "label": "t:global.colors.background"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:global.text.text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_with_text.presets.image_with_text.name",
      "blocks": [
        {
          "type": "subheading",
          "settings": {
            "text": "Subheading"
          }
        },
        {
          "type": "heading",
          "settings": {
            "text": "Image with text"
          }
        },
        {
          "type": "richtext"
        }
      ]
    }
  ]
}
{% endschema %}
