<div class="{% unless section.settings.remove_upper_vertical_spacing %}upper-section-spacing{% endunless %} {% unless section.settings.remove_lower_vertical_spacing %}lower-section-spacing{% endunless %} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
  <div class="container">
    <shop-by-swatch>
      <div class="section-stack">
        <div class="switch_option_cotainer">
          
        
        <div class="h2 h-stack gap-2">
          <span>
            {{ section.settings.heading }}
          </span>
          <div class="switch_option">
            <div class="selected-option h-stack gap-2">
              <span> Women </span>
              <span class="icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="12"
                  height="7"
                  viewBox="0 0 12 7"
                  fill="none"
                >
                  <path
                    d="M1 1L6 6L11 1"
                    stroke="#1E1E1E"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </div>
            </div>
                    
        </div>
            <div class="options_wrapper h2">
              <span class="open" data-option-switch="Women">Women</span>
              <span class="" data-option-switch="Men">Men</span>
          </div>
                    </div>
        <div class="sbs_card_wrapper">
          <div class="sbs_card Men">
            <scroll-carousal class="product-list product-list--carousel scroll-area bleed md:unbleed is-scrollable" group-cells>
              {% for block in section.blocks %}
                {% if block.type == 'switch_men' %}
                  {% assign index = forloop.index | minus: 1 %}
                  <a class="sbs_a" href="{{ section.blocks[index].settings.link }}">
                    <img
                      src="{{ section.blocks[index].settings.image | image_url: width: 300 }}"
                      alt=""
                      width="{{ block.settings.width }}"
                      height="{{ block.settings.height }}"
                    >
                    <span>
                      {{ section.blocks[index].settings.image_heading }}
                    </span>
                  </a>
                {% endif %}
              {% endfor %}
            </scroll-carousal>
          </div>
          <div class="sbs_card Women open">
            <scroll-carousal class="product-list product-list--carousel scroll-area bleed md:unbleed is-scrollable" group-cells>
              {% for block in section.blocks %}
                {% if block.type == 'switch_women' %}
                  {% assign index = forloop.index | minus: 1 %}
                  <a class="sbs_a" href="{{ section.blocks[index].settings.link }}">
                    <img
                      src="{{ section.blocks[index].settings.image | image_url: width: 300 }}"
                      alt=""
                      width="{{ block.settings.width }}"
                      height="{{ block.settings.height }}"
                    >
                    <span>
                      {{ section.blocks[index].settings.image_heading |upcase }}
                    </span>
                  </a>
                {% endif %}
              {% endfor %}
            </scroll-carousal>
          </div>
        </div>
      </div>
    </shop-by-swatch>
  </div>
</div>


<style>
     #shopify-section-{{ section.id }} {
      --product-list-items-per-row: {{ 2 | times: 1 }};
      --product-list-horizontal-spacing-factor: 1;
      --product-list-vertical-spacing-factor: 1;
    }

    @media screen and (min-width: 700px) {
      #shopify-section-{{ section.id }} {
        --product-list-items-per-row: 4;
      }
    }
  .switch_option {
    position: relative;
  }
  .options_wrapper {
    position: relative;
    z-index: 1;
    display: none;
    font-weight: 400;
    background: white;
    gap: 4px;
    width:max-content;
    left:0;
  }
  .options_wrapper.open {
    display: flex;
  }
  .selected-option {
    border-bottom: 1px solid;
  }
  .options_wrapper > span {
    padding: 7px 20px;
    color:#999999;
  }
  .options_wrapper > span.open {
    padding: 7px 20px;
    color:inherit;
  }
  .sbs_card .sbs_a {
    text-align: center;
    padding: 8px;
    display: grid;
    gap: 4px;
  }
  .sbs_card_wrapper {
    position: relative;
  }
  .sbs_card {
    position: absolute;
    top: 0;
    z-index: -2;
    opacity: 0;
    visibility: hidden;
  }
  .sbs_card.open {
    position: relative;
    z-index: 0;
    opacity: 1;
    visibility: visible;
  }
</style>
{% schema %}
{
  "name": "Shop by switch",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "Heading",
      "default": "Shop by"
    }, {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    }, {
      "type": "checkbox",
      "id": "remove_upper_vertical_spacing",
      "label": "Remove upper verticle spacing",
      "default": false
    }, {
      "type": "checkbox",
      "id": "remove_lower_vertical_spacing",
      "label": "Remove lower verticle spacing",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "switch_men",
      "name": "Men",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }, {
          "type": "inline_richtext",
          "id": "image_heading",
          "label": "Image Heading",
          "default": "Airy lenin short kurta"
        }, {
          "type": "url",
          "id": "link",
          "label": "Enter URL"
        }

      ]
    },
    {
      "type": "switch_women",
      "name": "Women",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }, {
          "type": "inline_richtext",
          "id": "image_heading",
          "label": "Image Heading",
          "default": "Airy linen short kurta"
        }, {
          "type": "url",
          "id": "link",
          "label": "Enter URL"
        }

      ]
    }
  ],

  "presets": [
    {
      "name": "Shop by switch"
    }
  ]
}
{% endschema %}
